#!/usr/bin/make -f

homedir = $(CURDIR)/debian/home
export DEB_BUILD_MAINT_OPTIONS = hardening=+all
export HOME = $(homedir)

%:
	dh $@

override_dh_auto_configure:
	mkdir -p $(homedir)
	dh_auto_configure -- -DKIM_API_BUILD_MODELS_AND_DRIVERS=ON

